{% extends 'base.html.twig' %}

{% block body %}
  <h1 style="font-size: 1.6em">{{mode}}</h1>


  {{ form_start(form,  {'attr': {'id': 'edit-tournament'}}) }}
    <div class="flex-container--column">
        <br/>
        <div>
          {{ form_widget(form.name)}}
          {{ form_errors(form.name)}}
        </div>
        <br/>
        <div>
        <h3 style="text-align: center">{{ form_label(form.sport)}}</h3>
          {{ form_widget(form.sport)}}
          {{ form_errors(form.sport)}}
        </div>
        <br/>
        <div>
        <h3 style="text-align: center">{{ form_label(form.description)}}</h3>
          {{ form_widget(form.description)}}
          {{ form_errors(form.description)}}
        </div>
        <br/>
        <div>
          <h3 style="text-align: center">{{ form_label(form.dateStart)}}</h3>
          {{ form_widget(form.dateStart)}}
          {{ form_errors(form.dateStart)}}
        </div>
        <br/>
        <div>
          {{ form_widget(form.address)}}
          {{ form_errors(form.address)}}
        </div>
        <br/>
        <div>
            {{ form_widget(form.postalCode)}}
            {{ form_errors(form.postalCode)}}

        </div>
        <br/>
        <div>
            {{ form_widget(form.city)}}
            {{ form_errors(form.city)}}
        </div>

        <br/>

        <div>
          <br/>
          <input type="submit" class="btn--inverse" style="padding: 20px" value="{{mode}}" />
        </div>

    {{ form_end(form)}}



{% endblock %}
