{% extends 'AppBundle:tournament:_template.html.twig' %}

{% block bodyTournament %}

    {% for tournament in tournaments %}
        <h3>
            {{tournament.name}}
            <a href="{{ path('delTournament', {id: tournament.id})}}" style="float: right; font-weight: normal;">
                <i class="far fa-trash-alt"></i>
            </a>
            <a href="{{ path('editTournament', {id: tournament.id})}}" style="float: right; font-weight: normal; margin-right: 20px">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{{ path('showTournament', {id: tournament.id})}}" style="float: right; font-weight: normal; margin-right: 20px">
                <i class="far fa-eye"></i>
            </a>

        </h3>
        <div class="italicDetails">{{tournament.city~' - '~tournament.dateStart|date('d/m/Y')  }}</div>
        <hr/>
    {% endfor %}
{% endblock %}
