{% extends 'base.html.twig' %}

{% block body %}
  <p style="font-size: 1.2em">
    Welcome !
    <br/>
    Vous avez {{ tournament.countNbTeams }} équipes participantes.<br/>
    <br/>
    Vous pouvez maintenant créer votre tournoi.<br/>
    <br/>
  </p>
  <br/>
  <form  action="{{ path('initGame')}}" method="post" >

      <input type="hidden" value="{{tournament.id}}" name="tournamentId"/>

      <h2 style="text-align: center">Type de tournoi</h2>
      <select name = "data[type]" class="fullWidth typeSelect" style="height: 40px" required>
        <option selected/>
        <option value="group">Phase de groupes</option>
        <option value="finalRound">Phase finale</option>
      </select>

      <br/><br/>

      <p id="groupOptions"  class="typeSelectOptions" style="font-size: 1.2em; display: none">
        Nombre de groupes&nbsp;&nbsp;&nbsp;
        <select name="data[nbGroups]">
          {% for i in 1 .. maxGroup %}
            <option value="{{i}}" selected>
              {{ i }}
            </option>
          {% endfor %}
        </select>
      </p>

      <p id="finalRoundOptions" class="typeSelectOptions" style="font-size: 1.2em; display: none">
        Nombre d'équipe qualifiées&nbsp;&nbsp;&nbsp;
        <select name="data[nbFinalRound]">
          {% for val in maxTeamFinalRoundOption %}
            <option value="{{val}}" >
              {{ val }}
            </option>
          {% endfor %}
        </select>
      </p>
      <br/><br/>

      {% if tournament.isInit == 1 %}
        <input type='hidden' name="resetForce" value="0"/>

        <p class="alert--danger" style="text-align: justify;">
        Les options du tournoi, ainsi que la répartition des équipes ont déjà été faites pour ce tournoi.<br/>
        Pour le refaire, vous devez forcer en cochant la case suivante : <input type="checkbox" name="resetForce"/>
        </p>
        <br/>
      {% endif %}


      <br/>
      <input style="height: 80px; font-size: 2em" type="submit" class="btn--primary fullWidth" value="Valider"/>

  </form>
<br/><br/>

  <p class="alert--danger" style="font-size: 2em; text-align: center">
  ATTENTION
  </p>
  <br/>
  <p class="alert">
  En cliquant sur valider, les équipes vont être aléatoirement réparties dans le tournoi.<br/>
  </p>
  <br/>

  <p class="alert">
    Une fois la validation effectuée, vous ne pourrez plus ajouter d'équipes.
  </p>
  <br/>
  <p class="alert">
    Si vous optez pour un tournoi avec des phases de groupes, vous pourrez passer en phase finale, une fois tous les matchs joués.
  </p>
  <br/>

  <script>
    $('.typeSelect').change(function() {
      $('.typeSelectOptions').hide();
      let target = $(this).val();
      $('#'+target+'Options').show();
    });
  </script>


{% endblock %}
