{% extends 'base.html.twig' %}

{% block body %}

<h1>
  {% if tournament.isOpen == 1%}
      <i class="fas fa-running"></i>
  {% endif %}
  {{ tournament.name }}
</h1>

<div class="tabs js-tabs">
  <nav class="tabs-menu">
    <a href="#tab1" class="tabs-menu-link blockTab is-active">Voir les Matchs</a>
    <a href="#tab2" class="tabs-menu-link blockTab">Voir le Classement</a>
    <a href="#tab3" class="tabs-menu-link blockTab">Voir les Groupes</a>
  </nav>

  {% if tournament.isOpen != 1 %}
    <a href="{{ path('openTournament', {'tournamentId' : tournament.id})}}">
      <div class="alert--warning" style="text-align: center">
        Le tournoi n'est pas "ouvert",<br/>
        pour démarrer la compétition cliquez ici.
      </div>
    </a>
  {% endif %}

  <div id="tab1" class="tabs-content-item groupList">

      {% for group in tournament.groups %}
          <div class="groupName">
              <h3>{{ group.name}}</h3>
          </div>
          <div class="teamsGroup">
              <ul>
                {% for match in group.matchs %}
                  <li>
                    {{match.teamName('teamA')|raw}} -  {{match.teamName('teamB')|raw}}

                    {% if tournament.isOpen == 1 and tournament.nbMatchLeft != 0 and is_granted(['ROLE_MANAGER', 'ROLE_ADMIN']) %}
                      <span style="float: right; margin-left: 50px;">
                          <a href="{{ path('showMatch', {id: match.id})}}">
                              <i class="far fa-eye"></i>
                          </a>
                      </span>
                    {% endif %}
                    <span style="float: right">
                        {{ match.score }}
                    </span>


                  </li>
                {% endfor %}
              </ul>
          </div>

      {% endfor %}
  </div>
  <div id="tab2" class="tabs-content-item" style="display: none">
      {{ include('AppBundle:game:classement.html.twig', { "tournament" : tournament} ) }}
  </div>

  <div id="tab3" class="tabs-content-item" style="display: none">
      {% for group in tournament.groups %}
          <div class="groupName">
              <h3>{{ group.name}}</h3>
          </div>
          <div class="teamsGroup">
              <ul>
                {% for team in group.teams %}
                  <li>
                    {{team.name}}
                  </li>
                {% endfor %}
              </ul>
          </div>

      {% endfor %}
  </div>

  <hr/>

  <div style="text-align: center">
    Il reste {{ tournament.nbMatchLeft}} matchs à jouer
  </div>

  {% if is_granted('ROLE_ADMIN') and tournament.nbMatchLeft != 0 %}
    <a href="{{ path('simulateTournament', {'tournamentId' : tournament.id})}}">
      <div class="alert--info" style="text-align: center">
        SIMULER LE TOURNOI
      </div>
    </a>
  {% endif %}

  {% if tournament.isOpen == 1 and tournament.nbMatchLeft == 0 and is_granted(['ROLE_MANAGER', 'ROLE_ADMIN']) %}
    <a href="{{ path('finalRoundPrepar', {'tournamentId' : tournament.id})}}">
      <div class="alert--warning" style="text-align: center">
        La phase de groupe est finie,<br/>
        cliquez ici pour passer en phase finale
      </div>
    </a>
  {% endif %}

  <script type="text/javascript">

      $('.tabs-menu-link').click(function(){
        let target = $(this).attr('href');
        target = target.substr(1);

        // hide all show target
        $('.tabs-content-item').hide();
        $('#'+target).show();

        // change css on nav
        $('.tabs-menu-link').removeClass('is-active');
        $(this).addClass('is-active');

        return false;

      })

  </script>


</div>

{% endblock %}
