{% extends 'base.html.twig' %}

{% block body %}

{% set currentTypeMatch = "" %}

<h1>
  {% if tournament.competitionType == 'FINAL-ROUND' %}
    <a href="{{ path('showMatchFinalRound', {'tournamentId' : tournament.id})}}" style="float: left" title="voir phase finale">
    <i class="fas fa-exchange-alt"></i>
    </a>
  {% endif %}
  {% if tournament.isOpen == 1%}
      <i class="fas fa-running"></i>
  {% endif %}
  {{ tournament.name }}
</h1>

<div class="tabs js-tabs">
  <nav class="tabs-menu">
    {% if tournament.competitionType == 'FINAL-ROUND' %}
      <a href="#tab4" class="tabs-menu-link blockTab is-active">Equipes Qualifées</a>
      {% set is_active = "" %}
      {% set display = "display: none" %}

    {% else %}
      {% set is_active = "is-active" %}
      {% set display = "" %}
    {% endif %}
    <a href="#tab1" class="tabs-menu-link blockTab {{ is_active }}">Voir les Matchs</a>
    <a href="#tab2" class="tabs-menu-link blockTab">Voir le Classement</a>
    <a href="#tab3" class="tabs-menu-link blockTab">Voir les Groupes</a>

  </nav>

  {% if tournament.isOpen != 1 %}
    <a href="{{ path('openTournament', {'tournamentId' : tournament.id})}}">
      <div class="alert--warning" style="text-align: center">
        Le tournoi n'est pas "ouvert",<br/>
        pour démarrer la compétition cliquez ici.
      </div>
    </a>
  {% endif %}

  <div id="tab1" class="tabs-content-item groupList" style="{{ display}}">

      {% for group in tournament.groups %}
          <div class="groupName">
              <h3>{{ group.name}}</h3>
          </div>
          <div class="teamsGroup">
              <ul>
                {% for match in group.matchs %}
                  {% if tournament.gameOptions.hasReturnMatch == 1 %}
                        {% if match.typeMatch != currentTypeMatch %}
                          <h4 style="color: white; font-size: 1em">{{ match.typeMatchString|capitalize }}</h4>
                          {% set currentTypeMatch = match.typeMatch %}
                        {% endif %}
                  {% endif %}
                  <li>
                    {{match.teamName('teamA')|raw}} -  {{match.teamName('teamB')|raw}}

                    {% if tournament.isOpen == 1 and tournament.nbMatchLeft != 0 and is_granted(['ROLE_MANAGER', 'ROLE_ADMIN']) %}
                      <span style="float: right; margin-left: 50px;">
                          <a href="{{ path('showMatch', {id: match.id})}}">
                              <i class="far fa-eye"></i>
                          </a>
                      </span>
                    {% endif %}
                    <span style="float: right">
                        {{ match.score }}
                    </span>


                  </li>
                {% endfor %}
              </ul>
          </div>

      {% endfor %}
  </div>
  <div id="tab2" class="tabs-content-item" style="display: none">
      {{ include('AppBundle:game:classement.html.twig', { "tournament" : tournament} ) }}
  </div>

  <div id="tab3" class="tabs-content-item" style="display: none">
      {% for group in tournament.groups %}
          <div class="groupName">
              <h3>{{ group.name}}</h3>
          </div>
          <div class="teamsGroup">
              <ul>
                {% for team in group.teams %}
                  <li>
                    {{team.name}}
                  </li>
                {% endfor %}
              </ul>
          </div>

      {% endfor %}
  </div>

  {% if tournament.nbMatchLeft == 0 %}
    <div id="tab4" class="tabs-content-item groupList">
      Liste
      <div class="teamsGroup">
        <ul>
          {% for teamSelected in tournament.teamsSelecteds %}
            <li>
              {{teamSelected.name}}
            </li>
          {% endfor %}
        </ul>
      </div>
    <div>
  {% endif %}

  <hr/>

  <div style="text-align: center">
    Il reste {{ tournament.nbMatchLeft}} matchs à jouer
  </div>

  {% if is_granted('ROLE_ADMIN') and tournament.nbMatchLeft != 0 %}
    <a href="{{ path('simulateTournament', {'tournamentId' : tournament.id})}}">
      <div class="alert--info" style="text-align: center">
        SIMULER LE TOURNOI
      </div>
    </a>
  {% endif %}

  {% if tournament.isOpen == 1 and tournament.nbMatchLeft == 0 and is_granted(['ROLE_MANAGER', 'ROLE_ADMIN']) %}
    <a href="{{ path('finalRoundPrepar', {'tournamentId' : tournament.id})}}">
      <div class="alert--warning" style="text-align: center">
        La phase de groupe est finie,<br/>
        cliquez ici pour passer en phase finale
      </div>
    </a>
  {% endif %}

  <script type="text/javascript">

      $('.tabs-menu-link').click(function(){
        let target = $(this).attr('href');
        target = target.substr(1);

        // hide all show target
        $('.tabs-content-item').hide();
        $('#'+target).show();

        // change css on nav
        $('.tabs-menu-link').removeClass('is-active');
        $(this).addClass('is-active');

        return false;

      })

      if( "{{ tournament.competitionType}}" == "GROUP-ROUND"  ) {
        setInterval(function() {
          document.location.reload(true);
        }, 10000);
     }

  </script>


</div>

{% endblock %}
