{% extends 'base.html.twig' %}

{% block body %}
  <h2>{{mode}} de l'équipe</h2>


    {{ form_start(form,  {'attr': {'id': 'edit-team'}}) }}
      <div class="flex-container--column">
          <div>
            {{ form_label(form.name)}}
            {{ form_widget(form.name)}}
            {{ form_errors(form.name)}}
          </div>

          <div>
            {{ form_label(form.description)}}
            {{ form_widget(form.description)}}
            {{ form_errors(form.description)}}
          </div>

          <div>
            {{ form_label(form.city)}}
            {{ form_widget(form.city)}}
            {{ form_errors(form.city)}}
          </div>

          <div>
            {{ form_label(form.postalCode)}}
            {{ form_widget(form.postalCode)}}
            {{ form_errors(form.postalCode)}}
          </div>

          <div>
          <h3 style="text-align: center">{{ form_label(form.sport)}}</h3>
            {{ form_widget(form.sport)}}
            {{ form_errors(form.sport)}}
          </div>

          <div>
            {{ form_label(form.sportClass)}}
            {{ form_widget(form.sportClass)}}
            {{ form_errors(form.sportClass)}}
          </div>

          <hr/>

          <input type="submit" class="btn--inverse" value="{{mode}}" />
      </div>
    {{ form_end(form)}}


{% endblock %}
