<ol id="playersListTeamOl" style="columns: 2;">
  {% for user in users %}
    <li class="playersListTeam" id="playersListTeam-{{ user.id }}-{{ user.roleString|lower }}">
      {{ user.person.fullname}} <br/>
      <i style="font-size: 10px">{{ user.person.player.positionName}}</i>
    </li>
  {% endfor %}
</ol>
<script>
$('.playersListTeam').click(function() {
    var url = "{{ path('deletePlayerTeam')}}";
    var teamId = sessionStorage.getItem('teamId');
    var userId = $(this).attr('id').split('-')[1];
    var target = $(this).attr('id').split('-')[2];
    $('#'+target+'List').load(url+'/'+teamId+'/'+userId);
})
</script>
