<ul id="searchUsersList">
  {% for user in users %}
    <li class="searchUserName" id="searchUserId-{{user.id}}">{{ user.person.fullname}}</li>
  {% endfor %}
</ul>

<script type="text/javascript">
  $('.searchUserName').click(function() {

      let role = "{{ role }}";

      if(role == "coach") {
        var url = "{{ path('addCoachTeam')}}";
        var targetId = sessionStorage.getItem('teamId');
      } else {
        var url = "{{ path('addUser')}}";
        var targetId = sessionStorage.getItem('tournamentId');
      }

      var userId = $(this).attr('id').split('-')[1];
      $('#searchUsersList').html(' ');
      $('#'+role+'List').load(url+'/'+targetId+'/'+userId);
  })
</script>
